.done-true {
  color: green;
}

.story-name {
  border-bottom:1px solid gray;
}
.story-name span{
  font-size: 18px;
  font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer;}
