<div class="row">
  <div class="col-md-2">
    <div class="module">
      <span class="module_header">Collection</span>
      <div>
        <span class="collection_label">All Collections</span>
      </div>
      <div>
        <span class="collection_label">Wehkamp Finance</span>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">All Collections</a></li>
          <li class="active"><a href="#">All suites</a></li>
          <li><a href="#">Regression</a></li>
          <li><a href="#">Nightly</a></li>
        </ul>
      </div>
      <div class="collection_label">
        <span class="collection_label">Money@home B.V.</span>
      </div>
      <div class="collection_label">
        <span class="collection_label">Obvion</span>
      </div>
    </div>
    <div class="module">
      <span class="module_header">Environment</span>
    </div>
  </div>
  <div class="col-md-8" ng-init="loadStories()">
    <div ng-repeat="story in stories">
      <div class="story-name">
        <span id="{{story.id}}">{{story.name}}</span> - <span class="text-muted">{{story.status}}</span>
        <div class="pull-right">
          <a href ng-click="runStory(story.id)">Run all</a>
        </div>
      </div>
      <accordion close-other="true">
        <accordion-group ng-repeat="scenario in story.scenarios" heading="{{scenario.title}}" id="{{scenario.id}}">
          <ul>
            <li ng-repeat="line in scenario.steps">{{line}}</li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="col-md-2">
    <!-- <ul ng-repeat="story in stories" class-"nav bs-sidenav" bs-scrollspy-list>
      <li>
        <a href="#{{story.id}}">{{story.name}}</a>
        <ul class="nav" ng-repeat="scenario in story.scenarios">
          <li><a href="#{{story.id}}-{{scenario.id}}">{{scenario.title}}</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>

