<div class="paper-group">
  <div class="paper paper-one done">

  <h3>Domains</h3>

  <div class="list-group">
      
        <a href="#" class="list-group-item active">Lacent <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

        <a href="#" class="list-group-item">ING <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

        <a href="#" class="list-group-item">ABN AMRO <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
  </div>

  </div>

  <div class="paper paper-two done">


  <h3>Stories</h3>

    <div class="list-group">



          <a href class="list-group-item active" ng-click="scenarioFilter = null">All <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
        
          <a href class="list-group-item" ng-repeat="story in stories" data-ng-click="setFilter()">{{story.id}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

          <a href class="list-group-item" ng-click="scenarioFilter = '46432626'">herpelderp</a>

    </div>
    
    

  </div>

  <div class="paper paper-three">



    


    <h3>Scenarios</h3>

      
    

      <div ng-repeat="story in stories | filter:scenarioFilter:strict" id="{{story.id}}">

      <span>{{story.name}}</span>
        <div class="list-group">

          <a href="#" class="list-group-item" ng-repeat="scenario in story.scenarios" id="{{scenario.id}}">{{scenario.title}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

        </div>

      </div>
    

  </div>

</div>
