

  <div class="paper paper-one" ng-class="{done: selectedBundleIndex != null}">


    <h2>Bundles</h2>

    <div class="list-group">

          <a href class="list-group-item" ng-repeat="bundle in bundles" data-ng-click="setFilter('bundle',bundle.name, $index)" ng-class="{active: $index===selectedBundleIndex}">{{bundle.name}}</a>

    </div>
    
    

  </div>

  <div class="paper paper-two" ng-class="{done: selectedStoryIndex != null}">


    <h2>Stories</h2>

    <div class="list-group">



          <a href class="list-group-item" data-ng-click="setFilter('story',null, -1)" ng-class="{active: selectedStoryIndex===-1}">All</a>
        
          <a href class="list-group-item" ng-repeat="story in stories" data-ng-click="setFilter('story',story.name, $index)" ng-class="{active: $index===selectedStoryIndex}">{{story.name}}</a>

    </div>
    
    

  </div>

  <div class="paper paper-three">



    


    <h2>Scenarios</h2>

      <div class="form-group">
        <input type="search" class="form-control" ng-model="scenarioFilter" placeholder="Zoeken binnen scenario('s)" />
      </div>
      <accordion close-others="oneAtATime" ng-animate="'animate'" ng-repeat="story in stories | filter:scenarioFilter" id="{{story.id}}">

        <div class="row">
          <div class="col-xs-9">
            <h4>{{story.name}} <span class="label" ng-class="getClass(story.status, 'label')">{{story.status}}</span></h4>
          </div>
          <div class="col-xs-3 text-right">

              <button class="btn btn-primary" ng-click="runStory(story.id)" ng-hide="story.status == 'RUNNING'"><span class="glyphicon glyphicon-play"></span> Play story</button> 
              
              <button class="btn btn-default" ng-hide="story.status != 'RUNNING'" ng-click="getStoryResponse(story,story.id)"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
              

          </div>
        </div>
        
        <accordion-group ng-repeat="scenario in story.scenarios" id="{{scenario.id}}"  is-open="status.open">
          <accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> 
            {{scenario.title}} 
            <span class="label label-default">{{story.logs.scenarioLogs[$index].status}}</span> 
            
          </accordion-heading>

          <a class="pull-right" href>Play scenario</a>
          
          <ol>
            <li ng-repeat="step in scenario.steps" ng-class="getClass(story.logs.scenarioLogs[$parent.$index].stepLogs[$index].status, 'text')">{{step}}</li>
          </ol>
        </accordion-group>

      </accordion>
    

  </div>


