$paper-width-done:180px;
$first-paper-width: 75px;


html, body {
    height: 100%;
    min-height: 100%;
    font-family: "Open Sans",Verdana;
}

h1, h2, h3 {
    font-family: "Comfortaa Light",Verdana;
}

.paper-group {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
    .paper {
        position: absolute;
        height: 100%;
        min-height: 100%;
        width: 100%;
        box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.5);
        @include transition (all 0.5s ease-in-out);
        padding: 15px;
        
        top: 0px;
        bottom: 0px;

        &.paper-one {
            background-color: $color-three;
            z-index: 4;
            &.done {
                width: $paper-width-done;
            }
        }
        &.paper-two {
            background-color: lighten($color-three,5%);
            z-index: 3;
            padding-left: $paper-width-done + 15;
            &.done {
                width: ($paper-width-done * 2);
            }
        }
        &.paper-three {
            background-color: lighten($color-three,10%);;
            z-index: 2;
            padding-left: ($paper-width-done * 2) + 15;
            &.done {
                width: ($paper-width-done * 3);
            }
        }
        &.paper-four {
            background-color: lighten($color-three,15%);;
            z-index: 1;
            padding-left: ($paper-width-done * 3) + 15;
            &.done {
                width: ($paper-width-done * 4);
            }
        }
    }
}