.done-true {
  color: green;
}

.story-name {
  border-bottom:1px solid gray;
}
.story-name span{
  font-size: 18px;
  font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer;}

.sidebar-menu li ul {
    margin-left: 15px;
}

.paper {
    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.list-group {
    .list-group-item {
        border-radius: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &.circles {
        .list-group-item {
            border-radius: 50px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}