.navbar.navbar-default {
    margin-bottom: 0px;
    background-color: $color-one;
    border: none;
    border-radius: 0px;
    color: #fff;
    .navbar-brand {
        color: #fff;
    }
    li > a {
        color: #fff;
    }
}

.story-name {
  border-bottom:1px solid gray;
}
.story-name span{
  font-size: 18px;
  font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer;}

.sidebar-menu li ul {
    margin-left: 15px;
}

.paper {
    h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        font-size: 2.1em;
        text-transform: uppercase;
    }
    &.done {
        h2 {
            color: #fff;
        }
    }
}

.list-group {
    .list-group-item {
        border-radius: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 5px;
        &.active {
            background-color: $active-color;
            &:hover, &:active, &:focus {    
                background-color: $active-color;
            }
        }
    }

    &.circles {
        .list-group-item {
            border-radius: 50px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}